@import "tailwindcss";


@font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/clash-display/ClashDisplay-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Medium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@theme{
    --font-primary: "ClashDisplay", sans-serif;
    --font-secondary: "Archivo", sans-serif;
}