@import "tailwindcss";


@font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/clash-display/ClashDisplay-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Medium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@theme{
    --font-primary: "ClashDisplay", sans-serif;
    --font-secondary: "Archivo", sans-serif;
}