@import "tailwindcss";
@import "./fonts.css";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-offblack: #0B0B0D;
    --color-offwhite: #F6F7FF;

    --color-gray-900: #111116;
    --color-gray-700: #27272A;
    --color-gray-500: #2C2C35;
    --color-gray-300: #A9A9BD;
    --color-gray-100: #D2D2DD;

    --color-green-primary: #B5FF6D;
    --color-green-secondary: #30AF5B;

    --breakpoint-2xs: 21.875rem; /* 350px */
    --breakpoint-xs: 30rem;      /* 480px */
    --breakpoint-sm: 40rem;      /* 640px */
    --breakpoint-md: 48rem;      /* 768px */
    --breakpoint-lg: 64rem;      /* 1024px */
    --breakpoint-xl: 80rem;      /* 1280px */
    --breakpoint-2xl: 96rem;     /* 1536px */
}
.section {
    @apply mx-auto px-6 sm:px-12 lg:px-16;

    @apply w-full
    max-w-[350px]
    xs:max-w-[480px]
    sm:max-w-[650px]
    md:max-w-[768px]
    lg:max-w-[1024px]
    xl:max-w-[1280px]
    2xl:max-w-[1536px];
}

.text-h1{
    @apply text-offblack dark:text-offwhite font-primary text-7xl;
}
.text-subheading{
    @apply text-gray-500 dark:text-gray-300 font-secondary font-bold text-2xl ml-1 -mt-1;
}
.text{
    @apply text-offblack dark:text-offwhite;
}
.text-green{
    @apply text-green-secondary dark:text-green-primary;
}
.text-highlighted{
    @apply text-offblack dark:text-offwhite;
}
.text-secondary{
    @apply text-offblack dark:text-gray-300 font-bold;
}

.hero-element{
    @apply w-[1050px] h-[200px] rounded-[500px] bg-gray-200 dark:bg-gray-900 transition-all duration-500 shadow-[inset_0px_8px_2px_rgba(210,210,221,0.3)] dark:shadow-[rgba(7,7,8,0.8)];
}
.hopper-element{
    @apply rounded-[500px] bg-offwhite dark:bg-gray-900 transition-all duration-500 shadow-[inset_4px_4px_6px_rgba(210,210,221,0.3)] dark:shadow-[rgba(7,7,8,0.8)];
}

