@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/clash-display/ClashDisplay-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Archivo';
    src: url('/fonts/archivo/Archivo-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@theme {
    --color-offblack: #0B0B0D;
    --color-offwhite: #F6F7FF;

    --color-gray-900: #111116;
    --color-gray-700: #27272A;
    --color-gray-500: #2C2C35;
    --color-gray-300: #A9A9BD;
    --color-gray-100: #D2D2DD;

    --color-green-primary: #B5FF6D;
    --color-green-secondary: #30AF5B;

    --font-primary: "ClashDisplay", sans-serif;
    --font-secondary: "Archivo", sans-serif;


}
